<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input name="titre" [(ngModel)]="newAnnonce.titre" required placeholder="Titre" />
  <input name="ville" [(ngModel)]="newAnnonce.ville" required placeholder="Ville" />
  <input type="number" name="surface" [(ngModel)]="newAnnonce.surface" required placeholder="Surface (m²)" />
  <input type="number" name="prix" [(ngModel)]="newAnnonce.prix" required placeholder="Prix (€)" />
  <input type="date" name="datePublication" [(ngModel)]="newAnnonce.datePublication" required />
  <textarea name="description" [(ngModel)]="newAnnonce.description" placeholder="Description"></textarea>

  <button type="submit" [disabled]="!f.valid">Ajouter annonce</button>
</form>
