<h2>Liste des annonces</h2>

<div class="filters">
  <div class="input-wrapper">
    <label for="ville">Localisation</label>
    <input id="ville" type="text" placeholder="Quartier, Ville, Code Postal..." [(ngModel)]="villeFilter" />
  </div>

  <div class="input-wrapper">
    <label for="prix">Prix max</label>
    <input id="prix" type="number" placeholder="000000" [(ngModel)]="prixMaxFilter" />
  </div>

  <div class="input-wrapper">
    <label for="surface">Surface min</label>
    <input id="surface" type="number" placeholder="Surface minimum" [(ngModel)]="surfaceMinFilter" />
  </div>

  <div class="input-wrapper">
    <label for="date">Date min</label>
    <input id="date" type="date" [(ngModel)]="dateMinFilter" />
  </div>

  <div class="input-wrapper">
    <label for="sortBy">Trier par</label>
    <select id="sortBy" [(ngModel)]="sortBy">
      <option value="prix">Prix</option>
      <option value="date">Date</option>
    </select>
  </div>

  <div class="input-wrapper">
    <label for="sortDirection">Ordre</label>
    <select id="sortDirection" [(ngModel)]="sortDirection">
      <option value="asc">Croissant</option>
      <option value="desc">Décroissant</option>
    </select>
  </div>
</div>

<div class="annonce-grid">
  <app-annonce-card
    *ngFor="let annonce of filteredAnnonces()"
    [annonce]="annonce"
    (delete)="onDeleteAnnonce($event)"
    (click)="goToAnnonce(annonce.id)"
    class="card-wrapper"
  ></app-annonce-card>
</div>

<h2>Ajouter une annonce</h2>
<app-annonce-form (addAnnonce)="onAddAnnonce($event)"></app-annonce-form>
